:root {
  --bg: #002b36;
  --text: #839496;
  --command: #b58900;
  --cursor-color: #b58900;
  --bg-select: #073642;
  --hover-bg: #586e75;
  --hover-text: #eee8d5;
  --banner: #cb4b16;
  --links: #268bd2;
}

body {
  margin: 0;
  padding: 15px 20px;
  min-height: 99%;
  width: 100%;
  min-width: 550px;
  color: var(--text);
  background: var(--bg);
  font-family: cursor, monospace;
  overflow-x: hidden;
  position: relative;
}

::selection {
  color: var(--bg-select);
  background-color: var(--text);
}

::-moz-selection {
  color: var(--bg-select);
  background-color: var(--text);
}

textarea {
  left: -1000px;
  position: absolute;
}

b {
  font-weight: bold;
  text-decoration: underline;
}

.cursor {
  font-size: 12px;
  color: var(--cursor-color);
  background-color: var(--cursor-color);
  position: relative;
  opacity: 1;
  height: 1.5em;
  width: 10px;
  max-width: 10px;
  transform: translateY(4px);
  overflow: hidden;
  text-indent: -5px;
  display: inline-block;
  text-decoration: blink;
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

#command-window {
  cursor: text;
  height: 50px;
  color: var(--cursor-color);
}

#liner {
  line-height: 1.3em;
  margin-top: -2px;
  animation: show 0.5s ease forwards;
  animation-delay: 1.2s;
  opacity: 0;
}

#liner::before {
  color: var(--banner);
  content: "visitor:~$";
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

p {
  display: block;
  line-height: 1.3em;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  letter-spacing: 0.05em;
  animation: typing 0.5s steps(30, end);
}

.no-animation {
  animation: typing 0 steps(30, end);
}

.margin {
  margin-left: 20px;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.index {
  color: var(--text); /* Can be customized if needed */
}

.color2 {
  color: var(--command); /* Keywords/Commands */
}

.command {
  color: var(--cursor-color);
  text-shadow: 0 0 5px var(--cursor-color);
}

.white {
  color: #fff;
}

.inherit,
a {
  color: var(--links); /* Links */
}

a {
  text-decoration: inherit;
}

a:hover {
  background: var(--hover-bg); /* Hover background for links */
  color: var(--hover-text); /* Hover text color */
}

a:focus {
  outline: 0;
}
